<div id="feedback-container" class="panel" style="display: none;">
  <form id="feedback-form" class="panel-body text-center" method="POST" target="no-target" onkeypress="return event.keyCode !== 13">
    <div class="form-group">
      <label for="feedback-text">Any thoughts, comments or complaints?</label>
      <textarea id="feedback-text" class="form-control" rows="3" placeholder="We would love to hear from you!"></textarea>
    </div>
    <button id="feedback-submit" class="btn btn-default" type="submit">Submit</button>
  </form>
  <iframe src="about:blank" id="no-target" name="no-target" style="display: none;"></iframe>
</div>
