<div id="welcome" class="container-fluid">
	<div class="col-md-12" id="image">
		<img src="..\media\calvin_logo.gif" class="img-responsive" style="margin:auto">
	</div>
	<div class="col-md-12" id="welcome-header">
		<h2>Welcome to Princeton Courses!</h2>
	</div>
  <div class="row">
  	<div class="col-md-12" id="tip-items">
  		<div class="col-md-3 tip-item">
  			<div class="col-md-12">
  				<div class="icon-container">
  					<i class="fa fa-search"></i>
  				</div>
  			</div>
  			<div class="title col-md-12">
  				Smart search
  			</div>
  			<div class="col-md-12">
  				<p>Search for course name, department, PDF options, distributions, or professor. Check 'Search Suggestions' for more.</p>
  			</div>
  		</div>
  		<div class="col-md-3 tip-item">
  			<div class="col-md-12">
  				<div class="icon-container">
  					<i class="fa fa-heart" id="welcome-heart"></i>
  				</div>
  			</div>
  			<div class="title col-md-12">
  				Favorite Courses
  			</div>
  			<div class="col-md-12">
  				<p>Click the heart next to a course name to save it to your Favorites list for fast access in the future.</p>
  			</div>
  		</div>
  		<div class="col-md-3 tip-item">
  			<div class="col-md-12">
  				<div class="icon-container">
  					<i class="fa fa-desktop"></i>
  				</div>
  			</div>
  			<div class="title col-md-12">
  				Course information
  			</div>
  			<div class="col-md-12">
  				<p>Easily explore course information, ratings and evaluations of courses and professors across different semesters.</p>
  			</div>
  		</div>
  	</div>
  </div>
</div>
