<div id="welcome">
	<div class="col-md-12" id="image">
		<img src="..\media\calvin_logo.gif" class="img-responsive" style="margin:auto">
	</div>
	<div class="col-md-12" id="welcome-header">
		<h2>Welcome to Princeton Courses!</h2>
	</div>
	<div class="col-md-12" id="tip-items">
		<div class="col-md-3" style="padding:0; margin-bottom:10px">
			<div class="tip-item">
				<div class="col-md-12">
					<div class="icon-container">
						<i class="fa fa-search"></i>
					</div>
				</div>
				<div class="title col-md-12">
					Smart search
				</div>
				<div class="col-md-12">
					<p>Search for course name, department, PDF options, distributions, or professor. Check 'Search Suggestions' for more.</p>
				</div>
			</div>
		</div>
		<div class="col-md-3" style="padding:0;  margin-bottom:10px">
			<div class="tip-item">
				<div class="col-md-12">
					<div class="icon-container">
						<i class="fa fa-desktop"></i>
					</div>
				</div>
				<div class="title col-md-12">
					Course information
				</div>
				<div class="col-md-12">
					<p>See course information, ratings & evaluations of the course and of the professors past semesters all in one panel.</p>
				</div>
			</div>
		</div>
		<div class="col-md-3" style="padding:0; margin-bottom:10px">
			<div class="tip-item">
				<div class="col-md-12">
					<div class="icon-container">
						<i class="fa fa-heart" id="welcome-heart"></i>
					</div>
				</div>
				<div class="title col-md-12">
					Favorite courses
				</div>
				<div class="col-md-12">
					<p>Click on the heart next to a course name to add it to your Favorites, to access them whenever you use our website. </p>
				</div>
			</div>
		</div>
		<div class="col-md-3" style="padding:0; margin-bottom:10px">
			<div class="tip-item">
				<div class="col-md-12">
					<div class="icon-container">
						<i class="fa fa-user"></i>
					</div>
				</div>
				<div class="title col-md-12">
					Personalized Layout
				</div>
				<div class="col-md-12">
					A layout that fits your needs. Click on the minuses to hide certain information, and resize the panels.
				</div>
			</div>
		</div>
		
	</div>
</div>