<div id="welcome" class="flex-container-col">
	<div class="flex-item" id="image">
		<img src="..\media\calvin_logo.gif">
	</div>
	<div class="flex-item" id="welcome-header">
		<h2>Welcome to Princeton Courses!</h2>
	</div>
	<div class="flex-container-row" id="welcome-li">
		<div class="flex-item-stretch flex-container-col tip-item">
			<div class="icon-container flex-item">
				<i class="fa fa-search"></i>
			</div>
			<div class="title flex-item">
				Smart search
			</div>
			<div class="flex-item">
				<p>Search for course name, department, PDF options, distributions, or professor.</p>
			</div>
		</div>
		<div class="flex-item-stretch flex-container-col tip-item">
			<div class="icon-container flex-item">
				<i class="fa fa-desktop"></i>
			</div>
			<div class="title flex-item">
				Course information
			</div>
			<div class="flex-item">
				<p>See course information, ratings & evaluations of the course and of the professors past semesters all in one panel.</p>
			</div>
		</div>
		<div class="flex-item-stretch flex-container-col tip-item">
			<div class="icon-container flex-item">
				<i class="fa fa-heart" id="welcome-heart"></i>
			</div>
			<div class="title flex-item">
				Favorite courses
			</div>
			<div class="flex-item">
				<p>Click on the heart next to a course name to add it to your Favorites, to access them later. </p>
			</div>
		</div>
		<div class="flex-item-stretch flex-container-col tip-item">
			<div class="icon-container flex-item">
				<i class="fa fa-user"></i>
			</div>
			<div class="title flex-item">
				Personalized Layout
			</div>
			<div class="flex-item">
				A layout that fits your needs. Click on the minuses to hide certain information, and resize the panels.
			</div>
		</div>
		
	</div>
</div>