<div class="container-fluid text-center">
  <div class="page-header">
    <img src="..\media\calvin_logo.gif" class="img-responsive center-block">
    <h2>Welcome to Princeton Courses!</h2>
  </div>
  <div class="row">
    <div class="col-xs-welcome col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-0">
      <div class="row row-md-flex">
        <div class="col-md-4 well welcome-well">
          <i class="welcome-icon fa fa-search"></i>
          <h4>Smart Search</h4>
          <p>Search for course name, department, PDF options, distributions, or professor. Check 'Search Suggestions' for more.</p>
        </div>
        <div class="col-md-4 well welcome-well">
          <i class="welcome-icon fa fa-heart"></i>
          <h4>Favorite Courses</h4>
          <p>Click the heart next to a course name to save it to your Favorites list for fast access in the future.</p>
        </div>
        <div class="col-md-4 well welcome-well">
          <i class="welcome-icon fa fa-bolt"></i>
          <h4>Clash Detection</h4>
          <p>If courses in search results have scheduling conflicts with your favorite courses, we&apos;ll label it <strong><span class='text-danger'>CLASH</span></strong>.</p>
        </div>
        <div class="col-md-4 well welcome-well">
          <i class="welcome-icon fa fa-desktop"></i>
          <h4>Course information</h4>
          <p>Easily explore course information, ratings and evaluations of courses and professors across different semesters.</p>
        </div>
      </div>
    </div>
  </div>
</div>
