/* MEL: on codepen at https://codepen.io/melyshu/pen/ryjpPE
   MEL: uses bootstrap and some flexboxes https://css-tricks.com/snippets/css/a-guide-to-flexbox/
   MEL: navbar and scrollbar customisation from external sites (scroll to bottom) */

.fullpage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 100vh;
  width: 100vw;
}

.page-menu {
  flex-grow: 0;
  margin-bottom: 0;
  border-radius: 0;
}

.page-content {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.vmax {
  height: 100%;
  max-height: 100%;
}

.search-panel-body {
  background-color: #ddd;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.search-search {
  flex-grow: 0;
}

.search-results {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  cursor: pointer;
}

.search-result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.result-dial {
  flex-grow: 0;
  width: 40px;
}

.result-text {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  margin-left: 15px;
  overflow: hidden;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.scroll-window {
  position: relative;
  height: 100%;
  width: 100%;
}

.scroll-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
}

.marginless {
  margin: 0;
}

.display-panel-body {
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;
}

.display-heading {
  padding: 15px;
  background-color: #eee;
  flex-grow: 0;
}

.display-body {
  padding: 15px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.display-detail {
  padding: 15px;
}

.eval-panel-body {
  background-color: #ddd;
  padding-top: 15px;
  padding-bottom: 15px;
}

.progress {
  margin: 0;
}

.progress-bar {
  text-align: left;
  color: black;
  padding: 0px 15px;
}

.evaluations {
  display: flex;
  flex-direction: column;
}
ul.comments-list {
   list-style: none;
   padding: 0; 
}
ul.comments-list li {
   margin: 0;
   padding: 3px;
   border-bottom: 1px solid #ccc;
}
ul.comments-list li:hover {
   background-color: #eee; 
}

.evals-title {
  margin-top:10px;
  margin-bottom:10px;
  font-weight: bold;
}

/* SCROLLBAR STUFF http://mikethedj4.github.io/Webkit-Scrollbar-Generator/ */

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #f58025;
  border: 0px none #ffffff;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d36f22;
}

::-webkit-scrollbar-thumb:active {
  background: #9b5118;
}

::-webkit-scrollbar-track {
  background: #666666;
  border: 0px solid #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: #000000;
}

::-webkit-scrollbar-track:active {
  background: #666666;
}

::-webkit-scrollbar-corner {
  background: transparent;
}


/* ADDING COLOR TO NAVBAR https://work.smarchal.com/twbscolor/ */

.navbar-default {
  background-color: #f58025;
  border-color: #d36f22;
}

.navbar-default .navbar-brand {
  color: #000000;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}

.navbar-default .navbar-text {
  color: #000000;
}

.navbar-default .navbar-nav > li > a {
  color: #000000;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #d36f22;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #d36f22;
}

.navbar-default .navbar-toggle {
  border-color: #d36f22;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #d36f22;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #000000;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #000000;
}

.navbar-default .navbar-link {
  color: #000000;
}

.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #000000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #d36f22;
  }
}
