#topbar-cont {
    width:100%;
    position:fixed;
    background:#F0F0F0;
    border:1px solid #CCC;
    height:55px;
    line-height:55px;
    top:0px;
}
#topbar {
    line-height:55px;
    width:98%;
    margin:0px auto;
}
#topbar h1{
    font-size:1.5em;
    display:inline-block;
    vertical-align: middle;
    float:left;
    margin:0px;
    line-height:55px;
}
#topbar p{
    font-size:1em;
    float:right;
    display:inline-block;
    vertical-align: middle;
    line-height:55px;
}
#searchbar-cont {
	width:100%;
    position:fixed;
    background:#F0F0F0;
    border:1px solid #CCC;
    line-height:40px;
    margin:0px;
    top:55px;
}
#searchbar {
	line-height:40px;
    width:98%;
    margin:0px auto;
}
input#searchbox {
	line-height:20px;
}
select#semester {
	height:20px;
	line-height: 20px;
}
#results-cont {
	width:98%;
}
#results {
	width:90%;
}

.page {
    width:100%;
    background: #FFF;
    height: 2000px;
    margin-top:100px;
}
