/* FEEDBACK CSS */

/* MOBILE OVERRIDE */
@media (max-width: 767px) {
  #feedback-container {
    top: 0;
    left: 0;
    right: 0;
  }
}

#feedback-container {
  position: fixed;
  top: 0;
  padding-top: 50px;
  z-index: 700;
  border-color: #f58025;
  border-width: 2px;
}
