/* ADDING COLOR TO NAVBAR https://work.smarchal.com/twbscolor/ */
.navbar-default {
  background-color: #EE7F2D;
  border-color: #EE7F2D;
}
.navbar-default .navbar-brand {
  color: #000000;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #000000; /* old: #ffffff */
}
.navbar-default .navbar-text {
  color: #000000;
}
.navbar-nav {
  color: #000000;
  transition: all 0.4s ease;
}
.navbar-default .navbar-nav > li > a {
  color: #000000;
  transition: all 0.4s ease;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #E36203;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover {
  color: #ffffff;
  background-color: #E36203;
}

.navbar-default .navbar-toggle {
  border-color: #E36203;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #E36203;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #000000;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #000000;
}
.navbar-default .navbar-link {
  color: #000000;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}
