.fullpage{
  height: 100vh;
  width: 100vw;
  position: relative;
}

.jumbotron-banner {
  height: 100%;
  text-align: center;
  background-color: #f58025;
  color: #ffffff;
}

.banner-button {
  margin-top: 40px;
}

.banner {
  position: absolute;
  top: 50%;
  margin-top: -150px;
  width: 100vw;
}
