<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <%-

  // Include page-specific scripts and stylesheets with a per-deploy cache-buster
  include('../partials/staticResources', {
    scripts: ['logout', 'feedback', 'navbar', 'about'],
    stylesheets: ['about', 'feedback', 'navbar'],
    release: release
  })
  %>
</head>

<!-- KARA: initial body on CodePen at https://codepen.io/melyshu/pen/aJXmNo, altered since transporting code -->
<body>
  <div id="full-page" class="flex-item-rigid">
    <!-- Navigation -->
    <%- include('../partials/navbar', {active: 'about'}) %>

    <section id="team" class="team content-section">
      <div class="container">

        <div class="row text-center">
          <div class="col-md-12">
            <h2>About Princeton Courses</h2>
            <p3>Princeton Courses was built as the group's final project for <a href="http://www.cs.princeton.edu/courses/archive/spring17/cos333/" target="_blank" style="color: rgba(0,0,0,0.8);">COS 333: Advanced Programming Techniques</a> taught by Brian Kernighan in Spring 2017.</p3>
            <br></br>
            <p3>All feedback is welcome. Tell us about any bugs you experience - we want to know what YOU want out of Princeton Courses for years to come! </p3>
            <br></br>
            <p3>The team was advised by <a href="https://www.cs.princeton.edu/~cmoretti/" target="_blank" style="color: rgba(0,0,0,0.8);">Christopher Moretti</a>.</p3>
            <br></br>
            <p3>View our design document <a href="https://docs.google.com/document/d/1l00Uwu0PcuXWq3vksckGBhOh5mqGTwR8qz6zD3FViLw/edit?usp=sharing" target="_blank" style="color: rgba(0,0,0,0.8);">here</a>.</p3>
            <br></br>
          </div>
        </div>

        <div class="row text-center col-md-12">
          <br></br>
          <h2>Meet Our Team</h2>
        </div>

        <div class="row text-center">
          <div class="col-md-5ths">
            <div class="team-member">
              <figure>
                <img src="..\media\profiles\mel.png" alt="" class="img-responsive prof-pic">
                <figcaption>
                  <p>Contact:</p>
                  <ul>
                    <!-- <li><a href=""><i class="fa fa-facebook fa-2x"></i></a></li> -->
                    <li><a href="https://au.linkedin.com/in/melshu" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>
                    <li><a href="mailto:mshu@princeton.edu"><i class="fa fa-envelope fa-2x"></i></a></li>
                  </ul>
                </figcaption>
              </figure>
              <h4>Mel Shu</h4>
              <div class="team-member-subtitle">
                <p>Front End</p>
              </div>
              <div class="team-member-description">
                <p>G'day! I'm from Australia. I like to wear colourful T-shirts and spell colourful with a 'u'.</p>
              </div>
            </div>
          </div>
          <div class="col-md-5ths">
            <div class="team-member">
              <figure>
                <img src="..\media\profiles\bensu.png" alt="" class="img-responsive prof-pic">
                <figcaption>
                  <p>Contact:</p>
                  <ul>
                    <li><a href="https://www.instagram.com/bensusicim/" target="_blank"><i class="fa fa-instagram fa-2x"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/bensusicim" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>
                    <li><a href="https://github.com/bnsuoh" target="_blank"><i class="fa fa-github fa-2x"></i></a></li>
                    <li><a href="mailto:bsicim@princeton.edu"><i class="fa fa-envelope fa-2x"></i></a></li>
                  </ul>
                </figcaption>
              </figure>
              <h4>Bensu Sicim</h4>
              <div class="team-member-subtitle">
                <p>Front End</p>
              </div>
              <div class="team-member-description">
                <p> Hello! I'm a Computer Science Major from the Class of 2019, and from Turkey. I draw, play the violin, and sing a cappella.</p>
              </div>
            </div>
          </div>
          <div class="col-md-5ths">
            <div class="team-member">
              <figure>
                <img src="..\media\profiles\kara.png" alt="" class="img-responsive prof-pic">
                <figcaption>
                  <p>Contact:</p>
                  <ul>
                    <li><a href="https://www.instagram.com/kare_bear_/" target="_blank"><i class="fa fa-instagram fa-2x"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/kara-bressler-77bb3a128" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>
                    <li><a href="mailto:karab@princeton.edu"><i class="fa fa-envelope fa-2x"></i></a></li>
                  </ul>
                </figcaption>
              </figure>
              <h4>Kara Bressler</h4>
              <div class="team-member-subtitle">
                <p>Front End</p>
              </div>
              <div class="team-member-description">
                <p>Valar Morghulis.</p>
              </div>
            </div>
          </div>
          <div class="col-md-5ths">
              <div class="team-member">
                <figure>
                  <img src="..\media\profiles\seb.png" alt="" class="img-responsive prof-pic">
                  <figcaption>
                    <p>Contact:</p>
                    <ul>
                      <li><a href="https://www.twitter.com/sebthedev" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
                      <li><a href="http://www.zibity.com" target="_blank"><i class="fa fa-home fa-2x"></i></a></li>
                      <li><a href="https://www.linkedin.com/in/sebthedev" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>
                      <li><a href="mailto:smclarke@princeton.edu"><i class="fa fa-envelope fa-2x"></i></a></li>
                    </ul>
                  </figcaption>
                </figure>

                <h4>Sebastian Hallum Clarke</h4>
                <div class="team-member-subtitle">
                  <p>Back End</p>
                </div>
                <div class="team-member-description">
                  <p>I'm from New Zealand. I do improv comedy and quite enjoy eating pasta.</p>
                </div>
              </div>
            </div>
            <div class="col-md-5ths">
              <div class="team-member">
                <figure>
                  <img src="..\media\profiles\cat.png" alt="" class="img-responsive prof-pic">
                  <figcaption>
                    <p>Contact:</p>
                    <ul>
                      <li><a href="https://www.linkedin.com/in/caterina-golner-359775113" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>
                      <li><a href="mailto:cgolner@princeton.edu"><i class="fa fa-envelope fa-2x"></i></a></li>
                    </ul>
                  </figcaption>
                </figure>
                <h4>Caterina Golner</h4>
                <div class="team-member-subtitle">
                  <p>Back End</p>
                </div>
                <div class="team-member-description">
                  <p>Hey-o! I love eating raw fish, making snap judgments, and unironically using the word "fam."</p>
                </div>
              </div>
            </div>
        </div>
        <div class="row text-center col-md-12 acknowledgements">
          <br></br>
          <h2>Acknowledgements</h2>
          <div class="col-md-offset-4 col-md-4">
            <div class="ack">
              <h4>Doctor Christopher M. Moretti</h4>
              <p>Spring 2017 COS 333 Advisor</p>
            </div>

            <div class="ack">
              <h4>Professor Brian W. Kernighan</h4>
              <p>Spring 2017 COS 333 Instructor</p>
            </div>

          </div>
          </div>
        </div>
    </section>
    <div class="footer">
      <div class="container">
        <div class="row align-middle text-center">
          <div class="col-lg-12">
              <p>Made by <strong>bsicim@</strong>, <strong>cgolner@</strong>, <strong>karab@</strong>, <strong>mshu@</strong>, <strong>smclarke@</strong></p>
              <p>A Spring 2017 <strong>COS 333</strong> project advised by <strong>cmoretti@</strong></p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <% include ../partials/feedback.ejs %>

</html>
