<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script src="/scripts/about.js"></script>
  <script src="/scripts/app.js"></script>
  <link rel="stylesheet" href="/stylesheets/app.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/about.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/navbar.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/scrollbar.css" type="text/css">
</head>

<!-- KARA: initial body on CodePen at https://codepen.io/melyshu/pen/aJXmNo, altered since transporting code -->
<body>
  <div id="full-page" class="flex-item-rigid">
    <nav id="menu-bar" class="navbar navbar-default">
      <div class="navbar-header">
        <a class="navbar-brand" href="/#">Princeton Courses <sup>beta</sup></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navigationbar">
        <ul class="nav navbar-nav">
          <li><a href="/#">Course Search</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li id="feedback-toggle"><a href="#">Feedback</a></li>
          <li id="about-toggle" class="active"><a href="#">About</a></li>
          <!-- <li id="netid"><a href="#"><%= netid %></a></li> -->
          <li id="logout" class="active" style="display:none;"><a href="/auth/logout">Logout</a></li>
        </ul>
      </div>
    </nav>

    <section id="team" class="team content-section">
      <div class="container">

        <div class="row text-center">
          <div class="col-md-12">
            <h2>About Princeton Courses</h2>
            <p3>Princeton Courses is currenlty being built as the group's final project for <a href="http://www.cs.princeton.edu/courses/archive/spring17/cos333/" target="_blank" style="color: rgba(0,0,0,0.8);">COS 333: Advanced Programming Techniques</a> taught by Brian Kernighan in Spring 2017.</p3>
            <br></br>
            <p3>Right now, we are in the process of beta testing, so all feedback is welcome. Tell us about any bugs you experience - we want to know what YOU want out of Princeton Courses for years to come! </p3>
            <br></br>
            <p3>The team is currently advised by <a href="https://www.cs.princeton.edu/~cmoretti/" target="_blank" style="color: rgba(0,0,0,0.8);">Christopher Moretti</a>.</p3>
            <br></br>
            <p3>View our design document <a href="https://docs.google.com/document/d/1l00Uwu0PcuXWq3vksckGBhOh5mqGTwR8qz6zD3FViLw/edit?usp=sharing" target="_blank" style="color: rgba(0,0,0,0.8);">here</a>.</p3>
            <br></br>
          </div>
        </div>

        <div class="row text-center col-md-12">
          <br></br>
          <h2>Meet Our Team</h2>
          <h3 class="caption gray subtitle"> On Front End </h3>
        </div>

        <div class="row text-center">
          <div class="col-md-4">
            <div class="team-member">
              <figure>
                <img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/12494916_10201931491844820_4380261856249089998_n.jpg?oh=9a31f2a6598a78a7b83e5793e9a9d7a1&oe=5951C198" alt="" class="img-responsive prof-pic">
                <figcaption>
                  <p>I'm Mel!</p>
                  <ul>
                    <li><a href=""><i class="fa fa-facebook fa-2x"></i></a></li>
                    <li><a href="https://au.linkedin.com/in/melshu" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>
                  </ul>
                </figcaption>
              </figure>
              <h4>Mel Shu</h4>
              <p>Computer Science, 2019</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-member">
              <figure>
                <img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/13325443_10154241456974834_592086043633881283_n.jpg?oh=e0fad3719a98f7ad825644ff6898b333&oe=595491BE" alt="" class="img-responsive prof-pic">
                <figcaption>
                  <p> Hello! I'm from Turkey. I draw, play the violin, and sing a cappella. My blood/coffee concentration is approximately 50%.</p>
                  <ul>
                    <li><a href="https://www.instagram.com/bensusicim/" target="_blank"><i class="fa fa-instagram fa-2x"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/bensusicim" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>
                  </ul>
                </figcaption>
              </figure>
              <h4>Bensu Sicim</h4>
              <p>Computer Science, 2019</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-member">
              <figure>
                <img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/14708129_1376403099060065_3764337556317733428_n.jpg?oh=b4be717277f34f85d4a888acae1badc4&oe=59871DBB" alt="" class="img-responsive prof-pic">
                <figcaption>
                  <p>Valar Morghulis.</p>
                  <ul>
                    <li><a href="https://www.instagram.com/kare_bear_/" target="_blank"><i class="fa fa-instagram fa-2x"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/kara-bressler-77bb3a128" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>
                  </ul>
                </figcaption>
              </figure>
              <h4>Kara Bressler</h4>
              <p>Computer Science, 2019</p>
            </div>
          </div>
        </div>

        <div class="row text-center col-md-12">
            <br></br>
            <h3 class="caption gray subtitle"> On Back End </h3>
        </div>

        <div class="container">
          <div class="row text-center">
            <div class="col-md-2"> </div>
            <div class="col-md-4">
              <div class="team-member">
                <figure>
                  <img src="https://scontent-lga3-1.xx.fbcdn.net/v/t31.0-8/s960x960/15157025_10205759026573695_3989749895210506511_o.jpg?oh=7a1171d1f23c2910d9152c75d870c76c&oe=595384B5" alt="" class="img-responsive prof-pic">
                  <figcaption>
                    <p>I'm from New Zealand. I do improv comedy and quite enjoy eating pasta.</p>
                    <ul>
                      <li><a href="https://www.twitter.com/sebthedev" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
                      <li><a href="http://www.zibity.com" target="_blank"><i class="fa fa-home fa-2x"></i></a></li>
                      <li><a href="https://www.linkedin.com/in/sebthedev" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>
                    </ul>
                  </figcaption>
                </figure>
                <h4>Sebastian Hallum Clarke</h4>
                <p>Computer Science, 2019</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="team-member">
                <figure>
                  <img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/12112334_854089591371023_2851242896383814240_n.jpg?oh=31a756d659aa21ba1b71bc26498449ae&oe=59936872" alt="" class="img-responsive prof-pic">
                  <figcaption>
                    <p> Hey guys, I'm Cat. </p>
                    <ul>
                      <li><a href="https://www.linkedin.com/in/caterina-golner-359775113" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>
                    </ul>
                  </figcaption>
                </figure>
                <h4>Caterina Golner</h4>
                <p>Computer Science, 2019</p>
              </div>
            </div>
            <div class="col-md-2"> </div>
          </div>

          <div class="row text-center col-md-12">
            <br></br>
          </div>
        </div>
      </div>
    </section>

  </div>

  <!-- Popups -->

  <div id="feedback-container" class="panel" style="display: none;">
    <form id="feedback-form" class="panel-body text-center" method="POST" target="no-target" onkeypress="return event.keyCode !== 13">
      <div class="form-group">
        <label for="feedback-text">Any thoughts, comments or complaints?</label>
        <textarea id="feedback-text" class="form-control" rows="3"></textarea>
      </div>
      <button id="feedback-submit" class="btn btn-default" type="submit">Submit</button>
    </form>
    <iframe src="about:blank" id="no-target" name="no-target" style="display: none;"></iframe>
  </div>

  <div class="panel alert alert-info alert-dismissable" id="updates-bottom-popup" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-label="close" onclick="saveUpdatePopupState()">&times;</button>
    <strong>Update:</strong>
  </div>
  </body>

</html>
