<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script src="/scripts/loggedin.js"></script>
  <link rel="stylesheet" href="/stylesheets/app.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/mobile.css" type="text/css">
</head>

<body>
  <!-- MEL: body is on codepen at https://codepen.io/melyshu/pen/ryjpPE -->
  <div id="full-page" class="flex-container-col">
  	<nav id="menu-bar" class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">Princeton Courses</a>
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
	        <!-- <span class="sr-only">Toggle navigation</span> -->
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	    </div>
	    <div class="collapse navbar-collapse" id="navigationbar">
	      <ul class="nav navbar-nav">
	        <li><a href="/">Home</a></li>
	        <li class="active"><a href="#">Course Listings</a></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        <li id="feedback-toggle"><a href="#">Feedback</a></li>
	        <li><a href="auth/logout">Logout</a></li>
	        <li><a href="#">FAQ</a></li>
	        <li><a href="#">About</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>
    <% include ../partials/desktopview.ejs %>
  </div>
</body>
</html>
