<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script src="/scripts/loggedin.js"></script>
  <link rel="stylesheet" href="/stylesheets/app.css" type="text/css">
</head>

<body>
    <%include ../partials/topbar.ejs %>
    <div id="searchbar-cont">
    	<div id="searchbar">
	    	<input id="searchbox" autofocus placeholder="Search for a course" autocomplete="off"></input>
	   		<select id="semester"></select>
            <select id="sort">
                <option value="relevance" selected>Relevance</option>
                <option value="title">Title</option>
                <option value="department">Department</option>
                <option value="code">Course Code</option>
            </select>
	    </div>
    </div>
    <div class="page">
	    <div id = "results-cont">
	    	<div id="results"></div>
	    </div>
	</div>
</body>
</html>
