<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script src="/scripts/loggedin.js"></script>
  <link rel="stylesheet" href="/stylesheets/app.css" type="text/css">
</head>

<body>
    <%include ../partials/topbar.ejs %>
    <div class="page">
	    <div>Search for a course:</div>
	    <input id="searchbox" autofocus></input>
	    <select id="semester"></select>
	    <div id="results"></div>
	</div>
</body>
</html>
