<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script src="/scripts/page.js"></script>
  <script src="/scripts/resizable.js"></script>
  <script src="/scripts/navbar.js"></script>
  <script src="/scripts/module.js"></script>
  <script src="/scripts/eval.js"></script>
  <script src="/scripts/fav.js"></script>
  <script src="/scripts/display.js"></script>
  <script src="/scripts/search.js"></script>
  <script src="/scripts/suggest.js"></script>
  <script src="/scripts/app.js"></script>
  <link rel="stylesheet" href="/stylesheets/app.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/navbar.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/scrollbar.css" type="text/css">
</head>

<!-- MEL: body on CodePen at https://codepen.io/melyshu/pen/aJXmNo -->
<body>
  <div id="netid" style="display: none;"><%= netid%></div>
</body>
</html>
