<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script src="/scripts/loggedin.js"></script>
  <link rel="stylesheet" href="/stylesheets/app.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/mobile.css" type="text/css">
</head>

<body>
  <!-- MEL: body is on codepen at https://codepen.io/melyshu/pen/ryjpPE -->
  <div id="full-page" class="flex-container-col">
  	<nav id="menu-bar" class="navbar navbar-default">
  	  <div class="container-fluid">
  	    <div class="navbar-header">
  	      <a class="navbar-brand" href="#">Princeton Courses</a>
  	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
  	        <!-- <span class="sr-only">Toggle navigation</span> -->
  	        <span class="icon-bar"></span>
  	        <span class="icon-bar"></span>
  	        <span class="icon-bar"></span>
  	      </button>
  	    </div>
  	    <div class="collapse navbar-collapse" id="navigationbar">
  	      <ul class="nav navbar-nav">
  	        <li><a href="/">Home</a></li>
  	        <li class="active"><a href="#">Course Listings</a></li>
  	      </ul>
  	      <ul class="nav navbar-nav navbar-right">
  	        <li id="feedback-toggle"><a href="#">Feedback</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#popup1" id="about-button">About</a></li>
            <li class="active"><a id="nav-netid" href="auth/logout"></a></li>
  	      </ul>
  	    </div>
  	  </div>
	 </nav>
   <% include ../partials/desktopview.ejs %>
  </div>
  <div id="popup1" class="overlay">
  <div class="popup">
    <h2>About This Project</h2>
    <a class="close" href="#">&times;</a>
    <div class="content">
      <p>A project by Kara&nbsp;Bressler (team leader), Caterina&nbsp;Golner, Sebastian&nbsp;Hallum&nbsp;Clarke, Mel&nbsp;Shu, and Bensu&nbsp;Sicim for COS&nbsp;333. The team is advised by <a href="https://www.cs.princeton.edu/~cmoretti/">Christopher Moretti</a>.</p>
      <p>View our <a href="https://docs.google.com/document/d/1l00Uwu0PcuXWq3vksckGBhOh5mqGTwR8qz6zD3FViLw/edit?usp=sharing" target="_blank">design document</a>.</p>
    </div>
  </div>
</div>
</body>
</html>
