<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>

</head>

<body>
    Woohoo! Hello <%= netid %>. You are logged in! <a href="logout">Logout</a>.
    Oh hi there! OMG GUYS I'M HACKING THE SYSTEM!!!!!! ALL UR BASE R NOW BELONG TO US!!!!! HAHAHAHAHA OLD ASS MEMES
</body>
</html>
