<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

  <script>
    $( document ).ready(function() {

        $.get("/api/whoami", function(data){
            alert("Hi! Your netid is:" + data.netid);
        })

    });
  </script>

</head>

<body>
    Woohoo! Hello <%= netid %>. You are logged in! <a href="logout">Logout</a>.
    Oh hi there! OMG GUYS I'M HACKING THE SYSTEM!!!!!! ALL UR BASE R NOW BELONG TO US!!!!! HAHAHAHAHA OLD ASS MEMES
</body>
</html>
