<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script src="/scripts/loggedin.js"></script>
  <link rel="stylesheet" href="/stylesheets/app.css" type="text/css">
</head>

<body>
  <!-- MEL: body is on codepen at https://codepen.io/melyshu/pen/ryjpPE -->
  <div class="fullpage flex-container-col">
    <nav class="navbar navbar-default page-menu flex-item-rigid">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Princeton Courses</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li class="active"><a href="#">Course Listings</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="auth/logout">Logout</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </div>
    </nav>
    <div class="flex-item-stretch">
      <div class="container-fluid vmax">
        <div class="row vmax">
          <div class="col-sm-3 vmax search-panel-body flex-container-col">
            <div class="flex-item-rigid">
              <input class="form-control" id="searchbox" type="text" placeholder="Search for courses..." autofocus/>
              <div class="row" style="margin-top:15px"> <!-- MEL: sorry for temporary styling fix here -->
                <div class="col-sm-6">
                  <select class="form-control" id="semester">
                  </select>
                </div>
                <div class="col-sm-6">
                  <select class="form-control" id="sort">
                    <option value="relevance" selected>Relevance</option>
                    <option value="rating">Rating</option>
                    <option value="title">Title</option>
                    <option value="department">Department</option>
                    <option value="code">Course Code</option>
                  </select>
                </div>
              </div>
              <div>
                <h4 id="search-title">Search Results</h4>
              </div>
            </div>
            <div class="flex-item-stretch">
              <div class="vmax">
                <div class="scroll-window">
                  <div class="scroll-content">
                    <ul class="list-group marginless" id="results">
                      <a href="#" class="list-group-item list-square">
                        <div>COS 333 <span class="label label-info">QR</span></div>
                        <div>Advanced Programming Techniques</div>
                      </a>
                      <a href="#" class="list-group-item list-square">
                        <div>COS 333 <span class="label label-info">QR</span></div>
                        <div>Advanced Programming Techniques</div>
                      </a>
                      <a href="#" class="list-group-item list-square active">
                        <div>COS 333 <span class="label label-info">QR</span></div>
                        <div>Advanced Programming Techniques</div>
                      </a>
                      <a href="#" class="list-group-item list-square">
                        <div>COS 333 <span class="label label-info">QR</span></div>
                        <div>Advanced Programming Techniques</div>
                      </a>
                      <a href="#" class="list-group-item list-square">
                        <div>COS 333 <span class="label label-info">QR</span></div>
                        <div>Advanced Programming Techniques</div>
                      </a>
                      <a href="#" class="list-group-item list-square">
                        <div>COS 333 <span class="label label-info">QR</span></div>
                        <div>Advanced Programming Techniques</div>
                      </a>
                      <a href="#" class="list-group-item list-square">
                        <div>COS 333 <span class="label label-info">QR</span></div>
                        <div>Advanced Programming Techniques</div>
                      </a>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 vmax display-panel-body flex-container-col">
            <div class="display-heading flex-item-rigid">
              <h1 id="disp-title">COS 333 <small>Advanced Programming Techniques <span class="label label-info">QR</span> <span class="label label-warning">NA</span> <span class="label label-warning">NPDF</span></small></h1>
              <h3 id="disp-profs">Brian W. Kernighan, Christopher M. Moretti </h3>
              <p id="disp-desc">This is a course about the practice of programming. Programming is more than just writing code. Programmers must also assess tradeoffs, choose among design alternatives, debug and test, improve performance, and maintain software written
                by themselves & others. At the same time, they must be concerned with compatibility, robustness, and reliability, while meeting specifications. Students will have the opportunity to develop these skills by working on their own code
                and in group projects.
              </p>
            </div>
            <div class="display-body flex-item-stretch scroll-window">
              <div class="scroll-content display-detail" id="disp-body">
                <p>Stuff.</p>
                <p>This is a course about the practice of programming. Programming is more than just writing code. Programmers must also assess tradeoffs, choose among design alternatives, debug and test, improve performance, and maintain software written
                  by themselves & others. At the same time, they must be concerned with compatibility, robustness, and reliability, while meeting specifications. Students will have the opportunity to develop these skills by working on their own code
                  and in group projects.
                </p>
                <p>This is a course about the practice of programming. Programming is more than just writing code. Programmers must also assess tradeoffs, choose among design alternatives, debug and test, improve performance, and maintain software written
                  by themselves & others. At the same time, they must be concerned with compatibility, robustness, and reliability, while meeting specifications. Students will have the opportunity to develop these skills by working on their own code
                  and in group projects.
                </p>
                <p>This is a course about the practice of programming. Programming is more than just writing code. Programmers must also assess tradeoffs, choose among design alternatives, debug and test, improve performance, and maintain software written
                  by themselves & others. At the same time, they must be concerned with compatibility, robustness, and reliability, while meeting specifications. Students will have the opportunity to develop these skills by working on their own code
                  and in group projects.
                </p>
                <p>This is a course about the practice of programming. Programming is more than just writing code. Programmers must also assess tradeoffs, choose among design alternatives, debug and test, improve performance, and maintain software written
                  by themselves & others. At the same time, they must be concerned with compatibility, robustness, and reliability, while meeting specifications. Students will have the opportunity to develop these skills by working on their own code
                  and in group projects.
                </p>
              </div>
            </div>
          </div>
            <div class="col-sm-3 vmax eval-panel-body flex-container-col" id="evals-pane">
              <div class="flex-item-rigid">
                <h4 class="evals-title">Evaluations</h4>
                <div id="evals">
                  <div>Overall Quality of the Course</div>
                  <div>
                    <div class="progress">
                      <div class="progress-bar progress-bar-success" role="progressbar" style="width: 60%;">
                                3.0
                      </div>
                      <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 40%;">
                      </div>
                    </div>
                  </div>
                  <div>Overall Quality of the Course</div>
                  <div>
                    <div class="progress">
                      <div class="progress-bar progress-bar-success" role="progressbar" style="width: 60%;">
                                3.0
                      </div>
                      <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 40%;">
                      </div>
                    </div>
                  </div>
                </div>
                <h4 class="evals-title">Student Comments</h4>
              </div>
              <div class="flex-item-stretch scroll-window">
                <div class="scroll-content">
                 <ul class="comments-list marginless" id="comments">
                    <li href="#" class="comments-list-comment">
                      Comment 1
                    </li>
                    <li href="#" class="comments-list-comment">
                      Comment 2
                    </li>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</body>
</html>
