<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script src="/scripts/loggedinalt.js"></script>
  <link rel="stylesheet" href="/stylesheets/appalt.css" type="text/css">
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Some course listing thing</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="#">Course Listings</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="auth/logout">Logout</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 max-col">
        <div class="panel panel-default search-panel">
          <div class="panel-body panel-marginless">
           <div class="form-group">
             <input class="form-control input-lg" id="searchbox" autofocus type="text" placeholder="Search for courses..." />
             <select id="semester"></select>
           </div>
           <div>
             <h4>Search Results</h4>
           </div>
           <div class="course-search-list scroll-window">
             <div class="scrollable">
               <ul class="list-group list-group-search" id="results">
                 <a href="#" class="list-group-item list-square">
                   <div>COS000 <span class="label label-info">QR</span></div>
                   <div>Nonexistent Computer Science</div>
                  </a>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 max-col">
        <div class="scroll-window">
          <div class="scrollable">
            <div class="panel panel-default marginless">
              <div class="panel-heading">
                <h1>COS333 <small>Advanced Programming Techniques <span class="label label-info">QR</span> <span class="label label-warning">NA</span> <span class="label label-warning">NPDF</span></small></h1>
                <h3>Brian W. Kernighan, Christopher M. Moretti </h3>
                <p>This is a course about the practice of programming. Programming is more than just writing code. Programmers must also assess tradeoffs, choose among design alternatives, debug and test, improve performance, and maintain software written
                  by themselves & others. At the same time, they must be concerned with compatibility, robustness, and reliability, while meeting specifications. Students will have the opportunity to develop these skills by working on their own code and
                  in group projects.
                </p>
              </div>
              <div class="panel-body">
                 <p>Stuff.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- STUFF LEFTOVER FROM COPY OF APP.EJS THAT MIGHT (NOT) BE USEFUL
    <%include ../partials/topbar.ejs %>
    <div id="searchbar-cont">
    	<div id="searchbar">
	    	<input id="searchbox" autofocus placeholder="Search for a course"></input>
	   		<select id="semester"></select>
	    </div>
    </div>
    <div class="page">
	    <div id = "results-cont">
	    	<div id="results"></div>
	    </div>
	</div>
-->
</body>
</html>
