<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
    <link rel="stylesheet" href="/stylesheets/splash.css" type="text/css">
  </head>

  <body>
    <div class="fullpage">
      <div class="jumbotron jumbotron-banner">
        <div class="container">
          <h1>Princeton Courses</h1>
          <p>Exploring course listings and evaluations made easy</p>
          <div class="banner-button">
            <a class="btn btn-lg btn-default" href="auth/login" style="min-width: 150px;">Login</a>
          </div>
        </div>
      </div>
      <div style="text-align:center; max-width: 600px; margin: 10px auto -50px;">
          <p>A project by Kara&nbsp;Bressler (team leader), Caterina&nbsp;Golner, Sebastian&nbsp;Hallum&nbsp;Clarke, Mel&nbsp;Shu, and Bensu&nbsp;Sicim for COS&nbsp;333. The team is advised by <a href="https://www.cs.princeton.edu/~cmoretti/">Christopher Moretti</a>.</p>
          <p>View our <a href="https://docs.google.com/document/d/1l00Uwu0PcuXWq3vksckGBhOh5mqGTwR8qz6zD3FViLw/edit?usp=sharing" target="_blank">design document</a>.</p>
      </div>
    </div>
  </body>
</html>
