<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
    <link rel="stylesheet" href="/stylesheets/splash.css" type="text/css">
  </head>

  <body>
    <div class="fullpage">
      <div class="jumbotron jumbotron-banner">
        <div class="container">
          <h1>Princeton Courses</h1>
          <p>Exploring course listings and evaluations made easy.</p>
          <div class="banner-button">
            <a class="btn btn-lg btn-default" href="auth/login" style="min-width: 150px;">Login</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
