<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
    Princeton Courses is an awesome app, but you must be logged in to use it. Would you like to log in?
    <a href="login">Login</a>
</body>
</html>
